!!!5
%head
  :css
    body {
      padding: 10px 10vw;
      background: #06f;
      font-family: sans-serif;
    }
    #main {
      background: #fff;
      min-height: 100vh;
    }
    .ladda-table {;
      width: 100%;
      text-align: center;
    }
    
    .ladda-rank-head {
      width: 5vw;
    }
    .ladda-name-head {
      width: 35vw;
    }
    .ladda-form-head {
      width: 25vw;
    }
    .ladda-time-head {
      width: 15vw;
    }
    .ladda-match {
      display: inline-block;
      box-sizing: border-box;
      height: 2em;
      width: 2em;
      line-height: 2em;
      overflow: hidden;
      color: #fff;
      text-align: center;
      vertical-align: middle;
    }
    .ladda-win {
      background: #00f;
    }
    .ladda-loss {
      background: #00f6;
    }
    

%body
  #main
    %h1 Pokémon TTC Ladder
    %p
      Last updated:
      = fetch('updated')
    
    %table.ladda-table
      %tr.ladda-headings
        %th.ladda-rank-head Rank
        %th.ladda-name-head Name
        %th.ladda-form-head Form
        %th.ladda-time-head Last Match
      
      - fetch('ranking').each_with_index do |player, index|
        %tr.ladda-row
          %td.ladda-rank= index + 1
          %td.ladda-name= player
          %td.ladda-form
            -fetch('history')[player][0..4].each do |match|
              %span.ladda-match{class: match.last ? 'ladda-win' : 'ladda-loss', title: "#{match[1]} - #{match[0]}"}
                = match.last ? 'W' : 'L'
          %td.ladda-time
            - if fetch('history')[player].any?
              = fetch('history')[player].first.first